@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@500;700&display=swap');

body{
    background: url("../images/display-data/background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;
    font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
}

h1, h2, nav button {
    font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

/* Style the glass efect to the main section */
.glass-main {
    width: 80%;
    padding: 1rem;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(13px);           
    -webkit-backdrop-filter: blur(20px);  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
    height: auto;
    border: 1px solid rgba(245, 245, 245, 0.151);
}

/* Glassmorphism hover effect for navbar links */
.nav-link {
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.nav-link:hover,
.nav-link:focus {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: #fff;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.10);
    text-decoration: none;
    padding: 6px;

}

#tray {
    width: 80%;
}

.content {
    max-height: 300px;
}

.gauge-charts {
    padding-bottom: 0 !important;
    margin-bottom: 0.5rem; /* Reduce if needed */
    height: 360px;
    width: 100%;
}

@media (max-width: 767.98px){
    .glass-main {
        width: 90%;
    }
    body {
        height: 205vh;
    }

}


